<div class="footer">
    <div class="container columns">
        <div class="footer_bio">
            <p class="footer_head">Bio</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, odio quae? Aperiam quae dolorum, atque quo, ex dolore omnis numquam nemo perspiciatis, dolorem officiis velit!</p>
        </div>
        <div class="footer_contact">
            <p class="footer_head">Contact Us</p>
            <ul>
                <li>123 Sesame Street</li>
                <li>850-123-4567</li>
                <li style="color: #ff7675">contact@morningtrips.com</li>
            </ul>
        </div>
        <div class="footer_nav">
            <p class="footer_head">Quick Links</p>
            <ul>
                <li>Home</li>
                <li>Shop</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="footer_actions">
            <p class="footer_head">Actions</p>
            <button class="button button-primary">Login</button>
        </div>
    </div>
    <div class="container credit">
        <p>Hand crafted with ❤️ by <span style="color: #ff7675">Ryan Survilo</span></p>
    </div>
</div>