<div class="quickShop">
    <div class="container">
        <div class="quickShop_text">
            <h2>Represent Morning Trips!</h2>
            <p>All profits from merch sales go directly into the band so we can keep coming out with your favorite tracks!</p>
        </div>
        <div class="quickShop_items">
            <div class="quickShop_items_item">
                <div class="quickShop_items_item_image">
                    <img src="https://picsum.photos/200" alt="shop-item-01">
                </div>
                <div class="quickShop_items_item_description">
                    <h3>Graphic Shirt</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, impedit.</p>
                    <p class="quickShop_items_item_description_price">$19.99</p>
                </div> 
            </div>
            <div class="quickShop_items_item">
                <div class="quickShop_items_item_image">
                    <img src="https://picsum.photos/200" alt="shop-item-01">
                </div>
                <div class="quickShop_items_item_description">
                    <h3>Graphic Shirt</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, impedit.</p>
                    <p class="quickShop_items_item_description_price">$19.99</p>
                </div> 
            </div>
            <div class="quickShop_items_item">
                <div class="quickShop_items_item_image">
                    <img src="https://picsum.photos/200" alt="shop-item-01">
                </div>
                <div class="quickShop_items_item_description">
                    <h3>Graphic Shirt</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, impedit.</p>
                    <p class="quickShop_items_item_description_price">$19.99</p>
                </div> 
            </div>
        </div>
        <div class="quickShop_all">
            <button class="button button-large button-primary">Shop All</button>
        </div>
    </div>
</div>